
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");


body{
    background-color: #f1f5f8;
    letter-spacing: 4px;
}
#title{
    font-family: "Great Vibes", cursive;
    font-size: 2.5rem;
    color: #c59d5f;
    font-weight: 900;
}
.questions{
    border-radius: 7px;
    display:grid;
    padding-top: 22px;
    box-shadow: 2px 2px 6px #ccc;
    height: auto;
    
}
.question-title{
  height: 50px;
}
.question{
    float: left;
    padding-left: 20px;
}
@media screen and (min-width: 769px) {
    .questions {
      width: 621px;
      font-size: 17px;
      letter-spacing: 4px;
    }
  }
  @media screen and (max-width: 768px) {
    .questions {
      width: 90%;
      font-size: 14px;
      letter-spacing: 3px;
    }
  }
.open-description{
    border: none;
    margin-right: 25px;
    margin-top: 5px;
    background-color: #fff;
    width:25px;
    height: 25px;
    float: right;
    transition: all linear 0.3s;
    padding: 0;
}
.plus, .minus{
  color: #c59d5f;
  border: #c59d5f;
  background-color: #fff;
  font-size: 14px;
  width: 22px;
  height: 22px;
  font-weight: bold;
}
.plus > i, .minus > i{
  font-size: 22px;
}
.open-description:hover{
    transform: rotate(90deg);
}
.question-text{
  width: 100%;
  height: 70px;
  letter-spacing: normal;
  color: 	#9E9E9E;
  background-color: #fff;
  float: left;
  border-top: 1px solid #9E9E9E;
  padding-left: 20px;
  margin-bottom: 20px;
}
/*hide and show text*/
.question-text {
  display: none;
}
.show-text .question-text {
  display: block;
}
.minus {
  display: none;
}
.show-text .minus {
  display: inline;
}
.show-text .plus {
  display: none;
}